@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lilita+One&family=Mali:wght@400;500;600;700&display=swap');

/*
    lightred: #E57A82
    darkred: #894A52

*/

body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: "Lilita One";
}

.container {
    background-color: lightgray;
    width: 1024px;
    height: 768px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 30px;
}

#start-scene {
    background-image: url("../imgs/background.png");
    background-position: center;
    background-size: cover;
}

#start-scene>img {
    align-self: center;
    width: 622px;
    height: auto;
}

#tutorial-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#tutorial-container img{
    position: relative;
    top: -100px;
}

button {
    color: white;
    font-family: "Lilita One";
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    height: 60px;

    background-color: #E57A82;
    border: 4px solid #894A52;
    /* border: none; */
    border-radius: 10px;
    align-self: center;
}

button:hover {
    width: 250px;
    letter-spacing: 5px;
    transition: width 0.5s, letter-spacing 0.5s;
    color: #894A52;
    cursor: pointer
}

h1 {
    font-size: 3rem;
    align-self: center;
}

#hearts{
    list-style: none;
    position: relative;
    margin-top: 10px;
    margin-bottom: 9px;
    padding: 0px;
    align-self: end;
    left: -120px;
    top: 2px;
}

#game-box{
    background-image: url(../imgs/mantel.png);
    align-self: center;
    width: 900px;
    height: 675px;
    border-radius: 10px;

    user-select: none;
    pointer-events: none;
    overflow: hidden;
    position: relative;
}

#game-box p {
    color: black;
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    z-index: 3;
}

#timer {
    position: absolute;
    left: 750px;
    top: 0px;
}

#score {
    position: absolute;
    left: 50px;
    top: 0px;
}

#game-scene, #end-scene {
    background-image: url(../imgs/game-scene.png);
    display: none;
    flex-direction: column;
    animation: show 2s;
}

#game-scene {
    justify-content: stretch;    
}

#end-scene h1{
    font-size: 50px;
    
}

@keyframes show {
    0% {left: -500px;}
    100% {left: 300px;}
}

@keyframes show2 {
    0% {left: -891px;}
    65% {left: -100px;}
    100% {left: -891px;}
}

@keyframes correct {
    0%    { font-size: 30px; opacity: 0; }
    40%   { font-size: 40px; opacity: 1; }
    60%   { font-size: 40px; opacity: 1; }
    100%  { font-size: 40px; opacity: 0; }
}
  
@keyframes chef {
    0%     { content: url(../imgs/pizzero1.png); }
    33%    { content: url(../imgs/pizzero2.png); }
    66%    { content: url(../imgs/pizzero3.png); }
    100%   { content: url(../imgs/pizzero4.png); }
}